* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.title {
    font-size: 10rem;
    text-align: center;
    margin: 10rem;
}

.calculator {
    margin: auto;
    height: 60rem;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 2rem;
    background-color: teal;
}

.input {
    grid-column: span 4;
    height: 10rem;
    color: #000;
    font-size: 4rem;
    width: 100%;
}

.keypad {
    background-color: rgba(0, 0, 0, 0.6);
    color: ivory;
    font-size: 4rem;
}

@media (max-width: 520px) {
    .title {
        font-size: 4rem;
    }
    .calculator {
        width: 80vw;
        height: 50vh;
    }
}